---
import X from "../assets/svg/x.svg";
import Instagram from "../assets/svg/instagram.svg";
---
<footer class="bg-marron w-full pb-10">
  <div class="flex justify-evenly">
    <div class="justify-end">
      <h2 class="text-fondo text-xl py-5"><strong>Contacto</strong></h2>
      <ul class="list-disc">
        <li class="text-fondo">Dirección:... pensar si meter horario</li>
        <li class="text-fondo">Teléfono:...</li>
        <li class="text-fondo">Email:...</li>
      </ul>
    </div>
    <div class="justify-end">
      <h2 class="text-fondo text-xl py-5"><strong>Links</strong></h2>
      <ul class="list-disc">
        <li class="text-fondo"><a href="#Sesiones" class="text-fondo">Sesiones</a></li>
        <li class="text-fondo"><a href="/articulos" class="text-fondo">Artículos</a></li>
        <li class="text-fondo"><a href="/contacto" class="text-fondo">Contáctanos</a></li>
        <li class="text-fondo"><a href="#Info" class="text-fondo">sobre Árbore</a></li>
      </ul>
    </div>
    <div class="text-fondo flex-row gap-x-2 items-center justify-center">
      <h2 class="text-fondo text-xl py-5"><strong>Redes</strong></h2>
      <a
        class="hover:scale-90 scale-70 transition flex items-center justify-center"
        aria-label="Visitar perfil de Árbore en Instagram"
        href="https://instagram.com/arbore.nutricion"
        target="_blank"
        >
        <Instagram />
      </a>
    </div>
  </div>
</footer>
