---
import X from "../assets/svg/x.svg";
import Instagram from "../assets/svg/instagram.svg";
---
<footer class="bg-verde w-full pb-10">
  <div class="flex flex-col sm:flex-row justify-evenly">
    <div class="order-1 flex flex-col items-center">
      <h2 class="text-fondo text-xl py-5"><strong>Redes</strong></h2>
      <a
        class="text-fondo hover:scale-90 scale-70 transition flex items-center justify-center"
        aria-label="Visitar perfil de Árbore en Instagram"
        href="https://instagram.com/arbore.nutricion"
        target="_blank"
        >
        <Instagram />
      </a>
    </div>
    <div class="order-3 sm:order-2 flex flex-col items-center sm:items-start">
      <h2 class="text-fondo text-xl py-5"><strong>Links</strong></h2>
      <ul class="list-disc">
        <li class="text-fondo"><a href="/" class="text-fondo hover:underline
        ">Home</a></li>
        <li class="text-fondo"><a href="/#Sesiones" class="text-fondo hover:underline
        ">Sesiones</a></li>
        <li class="text-fondo"><a href="/articulos" class="text-fondo hover:underline
        ">Artículos</a></li>
        <li class="text-fondo"><a href="/contacto" class="text-fondo hover:underline
        ">Contáctanos</a></li>
        <li class="text-fondo"><a href="/#Info" class="text-fondo hover:underline
        ">sobre Árbore</a></li>
      </ul>
    </div>
    <div class="order-2 sm:order-3 flex flex-col items-center sm:items-start">
      <h2 class="text-fondo text-xl py-5"><strong>Contacto</strong></h2>
      <ul class="list-disc">
        <li class="text-fondo">Dirección:... pensar si meter horario</li>
        <li class="text-fondo">Teléfono:...</li>
        <li class="text-fondo">Email:...</li>
      </ul>
    </div>
  </div>
</footer>
