<header>
  <nav 
    class="flex items-center px-6 py-4 text-sm justify-end sm:justify-center mx-auto">
    <div class="hidden sm:flex flex-row gap-15 lg:gap-40 justify-center">
      <a
        href="/"
        class="text-verde-texto inline-block hover:underline hover:text-marron-hover"
        ><strong>Home</strong>
      </a>
      <a
        href="/#Sesiones"
        class="text-verde-texto inline-block hover:underline hover:text-marron-hover"
        ><strong>Sesiones</strong>
      </a>
      <a href="/contacto"
        class="text-verde-texto inline-block hover:underline hover:text-marron-hover">
        <strong>Contacto</strong>
      </a>
      <a href="/articulos"
        class="text-verde-texto inline-block hover:underline hover:text-marron-hover">
        <strong>Artículo</strong>
      </a>
      <a href="/#Info"
        class="text-verde-texto inline-block hover:underline hover:text-marron-hover">
        <strong>Sobre Árbore</strong>
      </a>
    </div>
  </nav>
  <!--<hr class="text-verde">-->
</header>

