---
import { Image } from "astro:assets";
import hero_image from "../assets/images/Hero_image.png";
---

<div class="flex justify-center">
  <div class="fadein">
      <Image src={hero_image} alt="Logo de Ãrbore"/>
    </div>
</div>

<style>

img {
  width: 100%;
  height: auto;
}
</style>
