---
import { Image } from "astro:assets";
import hero_image from "../assets/images/Hero_image.png";
import hero_mobile from "../assets/images/arbore_arbol_centrado.png";
---

<section class="flex justify-center">
  <div class="fadein">
      <Image class="sr-only sm:not-sr-only" src={hero_image} alt="Logo de Árbore"/>
      <Image class="sm:hidden" src={hero_mobile} alt="Logo de Árbore"/>
    </div>
</section >

<style>

img {
  width: 100%;
  height: auto;
}
</style>
