<section class="bg-fondo max-w-300 self-auto items-center flex-col flex justify-center mt-5 sm:m-10 sm:rounded-3xl">
  <h2 id="Sesiones" class="pt-10 text-3xl"> <strong>Sesiones</strong> </h2>
  <div class="flex flex-col sm:flex-row">
    <div class="flex flex-col items-center ml-10 mr-10">
      <h2 id="Info" class="pt-10 pb-5 text-2xl"> <strong>Sesión informativa</strong> </h2>
      <div class="flex justify-center">
        <p class="text-left indent-4">
        Excepteur efficient emerging, minim veniam anim aute carefully curated Ginza conversation
        exquisite perfect nostrud nisi intricate Content. Qui  international first-class nulla ut.
        Punctual adipisicing, essential lovely queen tempor eiusmod irure. Exclusive izakaya charming
        </p>
      </div>
    </div>
    <div class="flex flex-col items-center ml-10 mr-10">
      <h2 id="Info" class="pt-10 pb-5 text-2xl"> <strong>Sesión de trabajo</strong> </h2>
      <div class="flex justify-center">
        <p class="text-left indent-4">
        Excepteur efficient emerging, minim veniam anim aute carefully curated Ginza conversation
        exquisite perfect nostrud nisi intricate Content. Qui  international first-class nulla ut.
        Punctual adipisicing, essential lovely queen tempor eiusmod irure. Exclusive izakaya charming
        </p>
      </div>
    </div>
  </div>
  <div class="p-10">
    <button
      class="
      relative z-0 h-12 rounded-full bg-marron px-6 text-neutral-50 
      after:absolute after:left-0 after:top-0 after:-z-10 after:h-full after:w-full after:rounded-full
      hover:after:bg-marron-hover hover:after:scale-x-110 hover:after:scale-y-110 
      hover:after:transition
      active:after:bg-marron-active active:after:scale-x-100 active:after:scale-y-100 
      active:after:bg-marron-press active:after:duration-30">
      <a href="/contacto"><strong>Contáctanos</strong></a></button>
  </div>
</section>
