<div class="self-auto items-center flex-col flex bg-fondo justify-center m-10 lg:mr-90 lg:ml-90 rounded-3xl">
    <h2 id="Sesiones" class="pt-10 text-3xl"> <strong>Sesiones</strong> </h2>
    <div class="flex">
        <div class="flex flex-col items-center ml-10 mr-10">
            <h2 id="Info" class="py-15 text-2xl"> <strong>Sesión informativa</strong> </h2>
            <div class="flex justify-center">
                <p class="text-left indent-4">
                Excepteur efficient emerging, minim veniam anim aute carefully curated Ginza conversation
                exquisite perfect nostrud nisi intricate Content. Qui  international first-class nulla ut.
                Punctual adipisicing, essential lovely queen tempor eiusmod irure. Exclusive izakaya charming
                </p>
            </div>
        </div>
        <div class="flex flex-col items-center ml-10 mr-10">
            <h2 id="Info" class="py-15 text-2xl"> <strong>Sesión de trabajo</strong> </h2>
            <div class="flex justify-center">
                <p class="text-left indent-4">
                Excepteur efficient emerging, minim veniam anim aute carefully curated Ginza conversation
                exquisite perfect nostrud nisi intricate Content. Qui  international first-class nulla ut.
                Punctual adipisicing, essential lovely queen tempor eiusmod irure. Exclusive izakaya charming
                </p>
            </div>
        </div>
    </div>
    <a
        class="mt-30 mb-10 mb-10 text-xl p-3 bg-marron rounded-3xl text-fondo hover:bg-marron-hover active:bg-marron-press"
    href="/contacto"><strong>Contáctanos</strong></a>
</div>
