---
const { error, message, contextMessage } = Astro.props
---

<section
	class="m-auto flex w-full flex-wrap place-items-center items-center justify-center text-primary"
>
	<a href="/">
	</a>
	<div class="m-5 mt-16 text-center text-5xl">
    <strong>Error {error}</strong>
			<p class="m-10">{message}</p>
		<p class="mt-5 max-w-300 text-xl">{contextMessage}</p>
	</div>
</section>
